* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

header {
    position: fixed;
    width: 100vw;
    height: 25vh;
    background: #0F9565;
}

.site-name {
    font-size: 1.75rem;
    font-weight: 500;
    margin: 10vh 0 0 5vw;
    color: white;
    position: relative;
    bottom: 1rem;
}

.menu-container {
    width: 100vw;
    height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    bottom: 2rem;
}

.start-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: max-content;
    padding: 1rem 1rem 2rem 1rem;
    gap: 0.5rem;
    background: rgb(255, 255, 255);
    position: absolute;
    border-radius: 2rem;
}

.start-menu#app-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    overflow: scroll;
    top: 23vh;
    height: max-content;
    padding: 20rem 1rem 10rem 1rem;
    gap: 0.5rem;
    background: rgb(255, 255, 255);
    position: relative;
    border-radius: 2rem;
}

.menu-container#app-4 {
    width: 100vw;
    height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: hidden;
    align-content: center;
    align-items: center;
    bottom: 2rem;
}

.rest-img img {
    width: 20%;
}

main img {
    object-fit: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 170%;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.auth-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    background: rgba(217, 217, 217, 0.5);
    position: absolute;
    border-radius: 1rem;
    bottom: 3rem;
}

.registr {
    text-align: center;
    outline: none;
    border: none;
    width: 40vw;
    height: max-content;
    background: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    outline: none;
    border: none;
    width: 20vw;
    height: max-content;
    background: #0F9565;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.start-menu-qr-scan {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    outline: none;
    border: none;
    width: 80%;
    height: max-content;
    background: #0F9565;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.start-menu-handler {
    text-align: center;
    outline: none;
    border: 0.1rem solid black;
    width: 60%;
    height: max-content;
    background: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    ;
}