:root {
    --dark-blue: #0A84FF;
    --dark-graber: #48484A;
    --dark-boxes-map-panel: #3A3A3C;
    --dark-map-panel: #1C1C1E;
    --dark-footer:  rgba(28, 28, 30, 0.94);
    --dark-input-bg: #2C2C2E;
    --dark-discription: rgba(235, 235, 245, 0.6);
}

div {
    margin: 0%;
    padding: 0%;
}
body {
    overflow: hidden;
    position: fixed;
    margin: 0;
    --blue: #007AFF;
    --text: #000000;
    --graber: #c7c7c7;
    --boxes-map-panel: #E3E3E9;
    --result-subtext: #3C3C43;
    --map-panel: #F2F2F7;
    --footer: rgba(249, 249, 249, 1); 
    --input-bg: #E3E3E9;
    --placeholder: #7F7F85;
    --boxes: #fff;
    --boxes-description: rgba(60, 60, 67, 0.7);
    --bg-page: #EFEFF4;
    --separator: #787878;
    --condition-box: rgba(118, 118, 128, 0.12);
    --condition-box-shdaow: rgba(0, 0, 0, 0.04);
    --condition-box-shadow-2: rgba(0, 0, 0, 0.12);
    /* --map-panel-bg: #F2F2F7;
    --map-btn: #C7C7CC;
    --map-panel-close: #007AFF;
    --map-panel-output: #E3E3E9;
    --map-output-caption: #3C3C43;
    --footer-bg: rgba(249, 249, 249, 1);
    --settings-bg: #E5E5E5;
    --white: #fff;
    --settings-auto: #C6C6C8;
    --condition-box: rgba(0, 0, 0, 0.04);
    --condition-box-2: rgba(0, 0, 0, 0.12);
    --model-box-bg: rgba(255, 255, 255, 0.8);
    --a-car-box: #F1F1F1;
    --a-car-input: #919191;
    --a-car-select: rgba(118, 118, 128, 0.12);
    --a-car-text: #8A8A8E;
    --settings-choice: rgba(60, 60, 67, 0.7);
    --settings-beta: rgba(60, 60, 67, 0.6) */

    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;    

}
.map {
overflow: hidden;
width: 100vw;
height: 645px;
display: block;
}

.map-get-geo {
    width: 45px;
    height: 45px;
    background: url('./radio_filled.png');
    position: absolute;
    top: 5vh;
    right: 1vw;
}

.map-panel {
    position: fixed;
    width: 100vw;
    height: 20vh;
    left: 0px;
    top: 79vh;
    z-index: 50;
    background: var(--map-panel);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.map-panel-route-input input {
    border: none;
    background: none;
    width: 73vw;
    margin-left: 3vw;
    margin-top: 1%;
    height: 3vh;
}
.map-panel-route-input input:focus-visible {
    border: none;
    background: none;
    outline: 0;
}

.map-panel-button {
    position: relative;
    width: 37px;
    height: 0px;
    left: 45vw;
    top: 1.5vh;
    border-radius: 20px;
    border: 4px solid var(--graber);

}

.map-panel-close {
position: absolute;
width: 56px;
height: 17px;
left: 82vw;
top: 1vh;

opacity: 0;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 4vw;
line-height: 16px;
/* or 123% */


/* Active */

color: var(--blue);
}

.map-panel-rec {
    /* Оптимально */


position: absolute;
width: 79px;
height: 16px;
left: 26px;
top: 17vh;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;
/* identical to box height, or 145% */


/* Active */

color: var(--blue);
}

.map-panel-output-box {
    position: absolute;
    width: 27vw;
    height: 50px;
    left: 17px;
    top: 19.5vh;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    padding-top: 1vh;
    font-size: 4vw;
    line-height: 16px;
    

    background: var(--boxes-map-panel);
    border-radius: 15px;
}

.map-panel-back {
    /* Назад */


position: absolute;
width: 40px;
height: 16px;
left: 3vw;
opacity: 0;
top: 1vh;

font-family: 'Inter', 'sans-serif';
font-style: normal;
font-weight: 500;
font-size: 4vw;
line-height: 16px;
/* identical to box height, or 123% */


/* Active */

color: var(--blue);
}



#map-panel-route-input-2 {
    top: -5vh;
    display: none;
}

.map-panel-text-map {
    position: relative;
    width: 17vw;
    height: 3vh;
    top: 3.35vh;
    left: 84vw;
    /* right: -80%; */
    align-self: center;
    align-content: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.408px;
    color: var(--blue);
    margin: 0px 0px;
}

.map-panel-separator {
    /* Separator */


position:  absolute;
width: 56vh;
height: 1px;
left: 0;
top: 29.5vh;
bottom: 150px;

background: var(--separator);
/* non-active */

border: 0.5px solid var(--separator-border);
}

.map-panel-output-fuel {
    /* 10.45 л */


position: absolute;
width: 180px;
height: 28px;
left: 4vw;
top: 30vh;

font-family: "Inter";
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 28px;
/* identical to box height, or 127% */


color: var(--text);
}

.map-panel-output-fuel-caption {
    /* Вы потратите в пути */


        position: absolute;
        width: 134px;
        height: 20px;
        left: 4vw;
        top: 33vh;

        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 3vw;
        line-height: 20px;
        /* identical to box height, or 143% */

        align-items: center;
        letter-spacing: -0.5px;

        /* Body Text alpha */

        color: var(--result-subtext);

}

.map-panel-output-price {
/* ₽480.70 */


position: absolute;
width: 134px;
height: 28px;
right: 4vw;
top: 30vh;

font-family: "Inter";
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 28px;
/* identical to box height, or 127% */

text-align: right;

color: var(--text);
}

.map-panel-output-price-caption {
            /* Примерная стоимость топлива */


        position: absolute;
        width: 45vw;
        height: 20px;
        right : 4vw;
        top: 33vh;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 3vw;
        line-height: 20px;
        /* identical to box height, or 167% */

        display: block;
        align-items: center;
        text-align: right;
        letter-spacing: -0.5px;

        /* Body Text alpha */

        color: var(--result-subtext);

}






.map-panel-route-input {
    position: relative;
    width: 76vw;
    top: -0.5vh;
    height: 4vh;
    font-family: 'Inter';
    /* Fill Color/Light/Tertiary */

    background: var(--input-bg);
    border-radius: 15px;
    font-size: 4vw;
    font-weight: 500;

    /* Inside Auto Layout */
    margin: 0px 14px;
}
.footer {
    position: absolute;
    width: 100vw;
    height: 13vh;
    display: flex;
    align-items: center;
    align-content: center;
    left: 0px;
    top: 88vh;
    z-index: 2000;
    background: var(--footer);
}
.icon-map {
    position: absolute;
    /* object-fit: cover; */
    background-size: cover;
    width: 32px;
    height: 46px;
    left: 11%;
    top: 25%;
    background-image: url('./Map passive.png');
}
.icon-map-active {
    background-image: url('./Map Active Light.png');
}

.icon-hand-mode {
    position: absolute;
    /* object-fit: cover; */
    background-size: cover;
    width: 94px;
    left: 38%;
    height: 50px;
    top: 20%;
    background-image: url('./Manual mode passive.png');
    
}
.icon-hand-active {
    background-image: url('./Manual Mode Active Light.png');
}
.icon-settings {
    position: absolute;
    /* object-fit: cover; */
    background-size: cover;
    width: 61px;
    height: 46px;
    right: 7%;
    top: 25%;
    background-image: url('./Settings Passive 1.png');

}

.icon-settings-active {
    background-image: url('./Settings Active Light.png');
}
.icon-caption {
    position: absolute;
    width: 71px;
    height: 12px;
    left: calc(45vw - 1vw/2);
    top: 8vh;

    /* Tab non-active */

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.24px;

    /* non-active */

    color: var(--separator);
}
        .settings {
            position: fixed;
            z-index: 500;
            width: 100vw;
            left: 0vw;
            top: 0vh;
            height: 100vh;
            background: var(--bg-page);
        }
        .settings-title {
            position: fixed;
            width: 16vw;
            height: 6vh;
            left: 6%;
            top: 10%;

            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 34px;
            line-height: 41px;
            letter-spacing: -0.41px;
            color: var(--text);

        }

        .settings-theme{
            position: relative;
            align-content: center;
            align-items: center;
            display: flex;
            left: 4.05%;
            right: 4.05%;
            top: 16%;
            width: 91.9vw;
            height: 5.5vh;
            background: var(--boxes);
        }


        .settings-theme-caption{
            position: absolute;
            left: 3%;

            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 5vw;
            line-height: 22px;
            /* identical to box height, or 129% */

            letter-spacing: -0.408px;

            /* Label Color/Light/Primary */

            color: var(--text);
        }
        .settings-system-theme{
            position: absolute;
            /* height: 22px; */
            right: 5%;
            align-self: center;
            display: flex;
            /* top: 28%; */
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 89%;
            /* line-height: 21px; */
            text-align-last: end;
            text-align: right;
            letter-spacing: -0.41px;
            color: var(--boxes-description);
        }
        .settings-system-theme select {
            border: 0;
            outline: 0;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            text-align-last: end;
            background: none;

        }


        .settings-beta{
            position: fixed;
            height: 4%;
            left: 10%;
            
            top: 51%;

            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 3vw;
            line-height: 15px;
            /* identical to box height */


            /* Label Color/Light/Secondary */

            color: var(--boxes-description);
        }

    .hand-mode {
        position: absolute;
        left: 0vw;
        top: 0vh;
        width: 100vw;
        height: 88vh;
        opacity: 0;
        z-index: 300;
        background: var(--bg-page);
    }
    .hand-mode-title {
        /* Ручной режим */


        position: absolute;
        width: 69vw;
        height: 35px;
        left: 4vw;
        top: 45px;

        /* Title Beta */

        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 9vw;
        line-height: 35px;
        /* identical to box height, or 125% */

        display: block;
        align-items: center;
        text-align: center;
        letter-spacing: -0.6px;

        /* Label Color/Light/Primary */

        color: var(--text);
    }
    .hand-mode-description {
        /* В ручном режиме Вы можете рассчитать расход топлива, задав свои параметры поезки */


        position: absolute;
        width: 90vw;
        height: 32px;
        left: 5vw;
        top: 88px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: var(--text);
    }
    .hand-mode-box {
        padding: 0px 16px;
        position: relative;
        display: flex;
        align-items: center;
        align-content: center;
        left: 4.05%;
        right: 4.05%;
        top: 16.5vh;
        bottom: 73.8%;
        height: 40px;
        width: 91.5vw;
        background: var(--boxes);
        border: 1px solid var(--boxes);
        box-sizing: border-box;
    }
    .br-t-rl {
        border-radius: 14px 14px 0px 0px;
    }
    .br-b-rl {
        border-radius: 0px 0px 14px 14px;
    }

    .br-b-s {
        border-bottom: 1px solid #C6C6C8;
    }
    .hand-mode-box-caption {
        position: relative;
        /* width: 60vw; */
        /* height: 48px; */
        /* left: 0px; */
        /* top: -11%; */
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 48px;
        align-items: center;
        letter-spacing: -0.41px;
        color: var(--text);
    }
    .hand-mode-box-input {
    /* width: 91px; */
    height: 44px;
    position: absolute;
    right: 2vw;
    align-self: center;

    }
    .hand-mode-box-input  input{
        position: absolute;
        border: none;
        outline: 0;
        outline-offset: 0;
        text-align: right;
        font-weight: 500;
        font-family: 'Inter', sans-serif;
        padding: 0 0 0 0;
        background: none;
    }
    .hand-mode-box-input  input[type="number"]::placeholder {
        text-align: right;

    }
    .hand-mode-condition-box {
        align-content: center;
        padding: 2px;
        align-items: center;
        position: relative;
        display: flex;
        width: 90.9vw;
        height: 36px;
        left: 4.05%;
        top: 136px;
        margin-top: 2vh;
        background: var(--condition-box);
        border-radius: 12px;
    }
    .hand-mode-condition-box-tl {
        position: absolute;
        /* height: 16px; */
        left: 8px;
        align-self: center;
        /* top: calc(47% - 16px/2); */
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 4vw;
        line-height: 20px;
        display: block;
        align-items: center;
        text-align: center;
        letter-spacing: -0.5px;
        color: var(--text);
    }
    .hand-mode-condition-box-tr {
        position: absolute;
        /* height: 16px; */
        right: 5px;
        /* top: calc(47% - 16px/2); */
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 4vw;
        line-height: 20px;
        display: block;
        align-items: center;
        text-align: center;
        letter-spacing: -0.5px;
        color: var(--text);

    }
    .mg-r {
        margin-right: 15vw;
    }
    .mg-l {
        margin-left: 15vw;
    }
    .hand-mode-condition-box-btn-wh {
        position: absolute;
        left: 49vw;
        right: 2px;
        top: 5.56%;
        bottom: 5.56%;
        opacity: 1;
        z-index: -1;
        width: 42vw;
        height: 33px;

        /* System Background/Light/Primary */

        background: var(--boxes);
        border: 0.5px solid var(--condition-box-shdaow);
        box-shadow: 0px 3px 8px var(--condition-box-shadow-2), 0px 3px 1px var(--condition-box-shdaow);
        border-radius: 11px;
    }
    .hand-mode-condition-box-btn-wh-n {
        position: absolute;
        left: 1vw;
        right: 2px;
        top: 5.56%;
        bottom: 5.56%;
        opacity: 0;
        width: 42vw;
        height: 33px;

        /* System Background/Light/Primary */

        background: var(--boxes);
        border: 0.5px solid var(--condition-box-shdaow);
        box-shadow: 0px 3px 8px var(--condition-box-shadow-2), 0px 3px 1px var(--condition-box-shdaow);
        border-radius: 11px;
    }
    .hand-mode-condition-box-btn-hm {
        position: absolute;
        left: 49vw;
        right: 2px;
        top: 5.56%;
        opacity: 1;
        z-index: -1;
        bottom: 5.56%;
        width: 42vw;
        height: 33px;

        /* System Background/Light/Primary */

        background: var(--boxes);
        border: 0.5px solid var(--condition-box-shdaow);
        box-shadow: 0px 3px 8px var(--condition-box-shadow-2), 0px 3px 1px var(--condition-box-shdaow);
        border-radius: 11px;
    }
    .hand-mode-condition-box-btn-hm-n {
        position: absolute;
        left: 1vw;
        right: 2px;
        top: 5.56%;
        opacity: 0;
        bottom: 5.56%;
        width: 42vw;
        height: 33px;

        /* System Background/Light/Primary */

        background: var(--boxes);
        border: 0.5px solid var(--condition-box-shdaow);
        box-shadow: 0px 3px 8px var(--condition-box-shadow-2), 0px 3px 1px var(--condition-box-shdaow);
        border-radius: 11px;
    }

    .hand-mode-btn-clr {
        position: absolute;
        width: 43vw;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 5.4%;
        left: 4.05%;
        top: 390px;
        background: var(--blue);
        border-radius: 14px;
    }

    .hand-mode-btn-st {
        position: absolute;
        width: 43vw;
        height: 5.4%;
        right: 4.05%;
        justify-content: center;
        display: flex;
        align-content: center;
        align-items: center;
        top: 390px;
        background: var(--blue);
        border-radius: 14px;

    }
    .car-choice{
        position: fixed;
        z-index: 3000;
        background: var(--bg-page);
        left: -105vw;
        top: 0;
        margin: 0%;
        height: 100vh;
        width: 100vw;
    }
    .back-arrow{
        position: absolute;
        left: 5%;
        top: 5.5%;
    }
    .car{
        position: absolute;
        left: 33%;
        top: 10%;
    }
    .select{
        position: absolute;
        width: 119vw;
        height: 6vh;
        left: 5vw;
        top: 25.5%;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 7.55vw;
        line-height: 35px;
        letter-spacing: -0.6px;
        color: var(--text);

    }

    .select-box {
        position: relative;
        left: 4%;
        right: 2.43%;
        top: 32%;
        width: 92vw;
        height: 5.9vh;
        background: var(--boxes);
        /* border: 1px solid var(--white); */
        box-sizing: border-box;
        /* border-radius: 14px 14px 0px 0px; */

    }

    .select-box-select {
        position: absolute;
        left: 5%;
        top: -3%;
        border: none;
        width: 85vw;
        height: 7vh;
        outline: 0;
        background: none;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 5vw;
        line-height: 48px;
        color: var(--text);
    }

    .select-box-select select {
        top: -5%;
        background: none;
        left: auto;
        width: 85vw;
    }
    .down-arrow2{
        position: absolute;
        left: 88%;
        top: 44%;
    }

    .down-arrow3{
        position: absolute;
        left: 88%;
        top: 51%;
    }
    .no-auto{
        position: absolute;
        width: 266px;
        height: 16px;
        left: 20vw;
        top: 86.4vh;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 89%;
        line-height: 16px;
        color: var(--blue);
    }
    .save-box{
        position: absolute;
        left: 7%;
        right: 7%;
        top: 90%;
        width: 87vw;
        height: 6vh;
        bottom: 5%;
        background: var(--blue);
        border-radius: 17px;
    }
    .save{
        position: absolute;
        left: 4.15vw;
        right: 22.05%;
        top: 0vh;
        /* bottom: 27.08%; */
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 2vh;
        line-height: 48px;
        color: var(--boxes);
    }

    .select-page-btn-arrow {
        position: absolute;
        left: 91.63%;
        top: 35%;
    }
    .hand-mode-output-fuel {
        position: absolute;
        width: 205px;
        height: 35px;
        left: 8vw;
        top: 72vh;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 35px;
        /* display: block; */
        align-items: center;
        letter-spacing: -0.41px;
        color: var(--text);
    }
    .hand-mode-output-fuel-caption {
    
        position: absolute;
        width: 42vw;
        height: 20px;
        left: 8vw;
        top: 76vh;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        /* display: block; */
        align-items: center;
        letter-spacing: -0.5px;
        color: var(--result-subtext);


    }
    .hand-separator {
        position: absolute;
        width: 100vw;
        height: 1px;
        left: 0;
        top: 79vh;
        bottom: 154px;
        background: var(--separator);
        /* border: 0.5px solid var(--); */
    }
    .hand-mode-output-time {
        position: absolute;
        width: 185px;
        height: 28px;
        left: 8vw;
        top: 80vh;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        align-items: center;
        color: var(--result-subtext);
    }
    .hand-mode-output-time-caption {
        position: absolute;
        width: 107px;
        height: 20px;
        left: 8vw;
        top: 83vh;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 3vw;
        line-height: 20px;
        align-items: center;
        letter-spacing: -0.5px;
        color: var(--result-subtext);
    }
    .hand-mode-output-price {
        position: absolute;
        width: 134px;
        height: 28px;
        /* left: 219px; */
        right: 8vw;
        top: 80vh;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        align-items: center;
        text-align: right;
        color: var(--result-subtext);
    }
    .hand-mode-output-price-caption {
        position: absolute;
        width: 45vw;
        height: 20px;
        /* left: 8vw; */
        right: 8vw;
        top: 83vh;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 3vw;
        line-height: 20px;
        /* display: block; */
        align-items: center;
        text-align: right;
        letter-spacing: -0.5px;
        color: var(--result-subtext);
    }
    .hand-mode-btn-st-txt {
        position: absolute;
        /* width: 32%; */
        /* height: 12px; */
        /* left: 24%; */
        /* top: -12%; */
        align-self: center;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 4vw;
        line-height: 46px;
        align-items: center;
        color: var(--boxes);
    }
    .hand-mode-btn-clr-txt {
        position: absolute;
        /* height: 12px; */
        /* left: 27%; */
        /* width: 32%; */
        font-size: 4vw;
        font-weight: 600;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        line-height: 37px;
        align-items: center;
        color: var(--boxes);

    }

    .another-car{
        height: 100vh;
        width: 100vw;
        background: var(--bg-page);
        left: -120vw;
        top: 0vw;
        z-index: 3000;

        position: absolute;
    }
    .a-car-car{
        position: absolute;
        width: 86vw;
        height: 35px;
        left: 6%;
        top: 10.3%;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 7.5vw;
        line-height: 35px;
        letter-spacing: -0.6px;
        color: var(--text);
    }

    .a-car-instruction{
        position: absolute;
        width: 82vw;
        height: 7vh;
        left: 5%;
        top: 16%;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 3.3vw;
        line-height: 17px;
        color: var(--text);
    }
    .a-car-box{

        padding: 0px 16px;
        position: relative;
        left: 4%;
        right: 13.08%;
        margin-top: 0px;
        top: 24%;
        height: 5.7vh;
        width: 91vw;
        bottom: 67.58%;
        box-sizing: border-box;
        background: var(--boxes);
        /* border: 1px solid var(--a-car-box); */

    }
    .a-car-box-caption{
        position: absolute;
        width: 65vw;
        height: 6vh;
        left: 4%;
        top: -1%;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 4vw;
        line-height: 48px;
        display: block;
        align-items: center;


    }
    .a-car-box-input{
        position: absolute;
        width: 8vw;
        right: 23vw;
        text-align: end;
        top: -10%;
        height: 6vh;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 48px;
        display: block;
        align-items: center;
        text-align: right;
        color: var(--placeholder);
    }
    .a-car-box-input input {
        border: 0;
        outline: 0;
        width: 26vw;
        right: left;
        left: 40vw;
        background: none;
        text-align: end;
        margin-right: 1px;
    }

    .a-car-select-box{
        display: block;
        align-items: block-start;
        padding: 2px;
        position: absolute;
        width: 92vw;
        height: 4vh;
        left: 2.7%;
        top: 42%;
        background: var(--condition-box);
        border-radius: 17px;
    }
    .a-car-mechanic{
        position: absolute;
        width: 50vw;
        height: 6vh;
        left: 5%;
        top: 20%;
        z-index: 1;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 4.3vw;
        line-height: 20px;
        display: block;
        align-items: center;
        color: var(--text);
    }
    .a-car-choice-box{
        position: absolute;
        left: 48%;
        right: 0%;
        top: 3%;
        bottom: 4.55%;
        width: 47vw;
        height: 4vh;
        background: var(--boxes);
        border: 0.5px solid var(--condition-box-shdaow);
        box-shadow: 0px 3px 8px rgb(0 0 0 / 12%), 0px 3px 1px rgb(0 0 0 / 4%);
        border-radius: 16px;
        order: 1;
        align-self: stretch;
        margin: 0px 0px;
    }
    .a-car-auto{
        position: absolute;
        height: 16px;
        left: 52%;
        top: 17%;
        z-index: 1;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 4.4vw;
        line-height: 20px;
        display: block;
        align-items: center;
        text-align: center;
        letter-spacing: -0.5px;
        color: var(--text);

    }
    .a-car-text{
        position: absolute;
        width: 90vw;
        height: 16px;
        left: 7vw;
        top: 47%;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 3.5vw;
        line-height: 16px;
        display: block;
        align-items: center;
        text-align: center;
        color: var(--text);


    }
    .a-car-save-box{
        position: absolute;
        left: 7%;
        right: 7%;
        top: 90%;
        width: 86vw;
        height: 6vh;
        bottom: 5%;
        background: var(--blue);
        border-radius: 17px;
    }
    .a-car-save{
        position: absolute;
        left: 4.17%;
        right: 22.05%;
        top: 1%;
        bottom: 27.08%;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 48px;
        color: var(--boxes);
    }

    .start-page {
        position: fixed;
        z-index: 3000;
        background: var(--bg-page);
        left: 0vw;
        opacity: 0;
        top: 0;
        margin: 0%;
        height: 100vh;
        width: 100vw;
    }

    .start-page-icon {
            position: absolute;
            left: 37%;
            top: 10%;
            background-image: url('./RF_logo_new.png');
            width: 100px;
            height: 100px;
        
    }
    

    .start-page-hello {
        position: absolute;
        left: 21.43%;
        right: 21%;
        top: 27.9%;


        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 48px;
        /* or 141% */

        letter-spacing: -1px;

        color: #000000;
    }

    .start-page-description {
        position: absolute;
        left: 18.35%;
        right: 16.88%;
        top: 38.77%;
        

        font-family: 'Inter',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        /* or 120% */

        text-align: center;

        color: #0A0A0A;
    }

    .start-page-btn {
        position: absolute;
        left: 4%;
        right: 4%;
        top: 89%;
        bottom: 3%;

        background: #007AFF;
        border-radius: 17px;
    }

    .start-page-btn-description {
        position: absolute;
        left: 6.17%;
        right: 22.05%;
        top: 27.08%;
        bottom: 27.08%;

        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 48px;
        /* or 320% */

        display: flex;
        align-items: center;

        color: #FFFFFF;
    }

    .start-page-btn-arrow {
        position: absolute;
        left: 89.63%;
        top: 28%;
        /* align-self: center; */
        /* align-items: initial; */
        width: 7%;
        transform: rotate(180deg);
        filter: invert(1);
    }


.callback {
    background-color: var(--bg-page);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5000;
    left: -120vw;
    top: 0;
}

.callback-input {
    position: relative;
    display: flex;
    align-items: center;
    top: 23vh;

}
.callback-input input {
    border: 0;
    outline: 0;
    background: none;
    position: absolute;
    left: 2%;

}

#callback-text-area {
    height: 23vh;
}
#callback-text-area textarea {
    border: 0;
    outline: 0;
    background: none;
    position: absolute;
    left: 2%;
    font-family: 'Inter', 'sans-serif';
    font-weight: 500;

}